<!--------Alerts Group-------------->
<div class="alert-group">
    <% if(messages.success.length > 0) { %>
    <% messages.success.forEach(function(msg) { %>
    <div class="alert alert-success">
        <button type="button" class="close" aria-hidden="true">×</button>
        <strong><%= msg.title %></strong> <%= msg.content %>
    </div>
    <% }); %>
    <% } %>

    <% if(messages.info.length > 0) { %>
    <% messages.info.forEach(function(msg) { %>
    <div class="alert alert-info">
        <strong><%= msg.title %></strong> <%= msg.content %>
    </div>
    <% }); %>
    <% } %>

    <% if(messages.warning.length > 0) { %>
    <% messages.warning.forEach(function(msg) { %>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" aria-hidden="true">×</button>
        <strong><%= msg.title %></strong> <%= msg.content %>
    </div>
    <% }); %>
    <% } %>

    <% if(messages.danger.length > 0) { %>
    <% messages.danger.forEach(function(msg) { %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" aria-hidden="true">×</button>
        <strong><%= msg.title %></strong> <%= msg.content %>
    </div>
    <% }); %>
    <% } %>
</div>


<!--------Side Bar-------------->

<% if (typeof(landing) == "undefined") { %>
<section class="wrapper">

    <section class="material-design-hamburger">
        <button class="material-design-hamburger__icon">
            <span class="material-design-hamburger__layer"></span>
        </button>
    </section>

    <section class="menu menu--off">
        <a href="#" title="Home">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Home
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-home"></span>
                </div>
            </div>
        </a>
        <a href="#" title="Timeline">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Timeline
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </a>
        <a href="#" title="Profile">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Profile
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </a>
        <a href="#" title="Friends">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Friends
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-users"></span>
                </div>
            </div>
        </a>
        <a href="#" title="Challenges">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Challenges
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-trophy"></span>
                </div>
            </div>
        </a>
        <a href="#" title="Latest Updates">
            <div class="row">
                <div class="col-sm-8 navElem">
                    Latest Updates
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-refresh"></span>
                </div>
            </div>
        </a>
    </section>

</section>
<% } %>