<!--------Alerts Group-------------->
<div class="alert-group">
    <% if(messages.success.length > 0) { %>
        <% messages.success.forEach(function(msg) { %>
    <div class="alert alert-success">
        <button type="button" class="close" aria-hidden="true">×</button>
        <strong><%= msg.title %></strong> <%= msg.content %>
    </div>
        <% }); %>
    <% } %>

    <% if(messages.info.length > 0) { %>
        <% messages.info.forEach(function(msg) { %>
        <div class="alert alert-info">
        <strong><%= msg.title %></strong> <%= msg.content %>
        </div>
        <% }); %>
    <% } %>

    <% if(messages.warning.length > 0) { %>
        <% messages.warning.forEach(function(msg) { %>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" aria-hidden="true">×</button>
            <strong><%= msg.title %></strong> <%= msg.content %>
        </div>
        <% }); %>
    <% } %>

    <% if(messages.danger.length > 0) { %>
        <% messages.danger.forEach(function(msg) { %>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" aria-hidden="true">×</button>
            <strong><%= msg.title %></strong> <%= msg.content %>
        </div>
        <% }); %>
    <% } %>
</div>


<!--------Side Bar-------------->
<div class="navbar navbar-black navbar-twitch" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="small-nav"> <span class="logo"> C </span> </span>
                <span class="full-nav"> ChallengeU </span>
            </a>
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
							<span class="glyphicon glyphicon-home"></span>
						</span>
                        <span class="full-nav"> Home </span>
                    </a>
                </li>
                <li>
                    <a href="#about-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="About Us">
							<span class="fa fa-users"></span>
						</span>
                        <span class="full-nav"> About Us </span>
                    </a>
                </li>
                <li>
                    <a href="#contact-us">
						<span class="small-nav" data-toggle="tooltip" data-placement="right" title="Contact Us">
							<span class="glyphicon glyphicon-comment"></span>
						</span>
                        <span class="full-nav"> Contact Us </span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<section class="material-design-hamburger">
    <button class="material-design-hamburger__icon navbar-twitch-toggle">
        <span class="material-design-hamburger__layer nav-open"></span>
    </button>
</section>
<button type="button" class="btn btn-default btn-xs navbar-twitch-toggle">

    <span class="glyphicon glyphicon-chevron-right nav-open"></span>
    <span class="glyphicon glyphicon-chevron-left nav-close"></span>
</button>






<!--section class="wrapper">

    <section class="material-design-hamburger">
        <button class="material-design-hamburger__icon">
            <span class="material-design-hamburger__layer"></span>
        </button>
    </section>

    <section class="menu menu--off">
        <div>Android's Material Design Hamburger Animation</div>
        <div>Adapted for the web by <a href="https://swirlycheetah.com" target="_blank">Chris Wheatley</a></div>
        <div><a href="https://github.com/swirlycheetah/material-design-hamburger" target="_blank">Available on GitHub</a></div>
        <div><a href="https://twitter.com/swirlycheetah" target="_blank">Follow me on Twitter @swirlycheetah</a></div>
    </section>

</section-->