<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="../css/star-rating.min.css">
</head>

<body>
<% include partials/header %>
<div ng-app="challenge">
    <div class="container" style="margin: 5em auto">
        <h1><%= challenge.name %></h1>

        <div class="col-md-8 col-sm-12">
            <hr>
            <h4>
                <%= challenge.description %>
            </h4>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <table class="table">
                        <tr>
                            <td><h3><b>Creator:</b></h3></td>
                            <td><h3><a href="#"><%= challenge.creator %></a></h3></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <input id="challenge-rating" type="number" class="rating" min=1 max=5 data-readonly="true"
                       data-show-clear="false" value="<%= challenge.rating %>"/>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <% challenge.responses.forEach(function(response) { %>
            <div class="container">
                <a href="#"><%= response.username %></a>

                <p><%= response.content %></p>
                <input type="number" class="rating" size="xs" min=1 max=5 step=0.1 data-readonly="true"
                       data-show-clear="false"
                       value="<%= response.rating %>"/>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <% challenge.comments.forEach(function(comment) { %>
            <tr>
            <td>
                <a href="#"><%= comment.username %></a>
            </td>
            <td>
                <p><%= comment.content %></p>
            </td>
            </tr>
            <% }); %>
            <tr>
                <form>
                    <td><label>my_username</label></td>
                    <td><textarea style="width: 100%" rows="1" placeholder="Enter here your comment"></textarea></td>
                </form>
            </tr>
        </table>
    </div>
</div>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="../js/star-rating.min.js"></script>
<script type="text/javascript" src="../js/challenge.js"></script>

</body>
</html>