<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link type="text/css" rel="stylesheet" href="/css/challenge.css">
</head>

<body ng-app="app-challenge">
<% include partials/header %>
<div ng-init="rating = <%= challenge.rating %>; challengeID = <%= challenge.id %>"  id="rating" ng-controller="RatingController as ratingController">
    <div class="container" style="margin: 5em auto">
        <h1><%= challenge.name %></h1>

        <div class="col-md-8 col-sm-12">
            <hr>
            <h4>
                <%= challenge.description %>
            </h4>
            <hr>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <table class="table">
                        <tr>
                            <td><h3><b>Creator:</b></h3></td>
                            <td><h3><a href="/profile/<%= challenge.creatorID %>"><%= challenge.creator %></a></h3></td>
                        </tr>
                        <tr>
                            <td><h3><b>Rating:</b></h3></td>
                            <td><h3><span id="stars-rating" class="starrr" data-rating="<%= Math.floor(challenge.rating) %>"></span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td><h3><b>Difficulty:</b></h3></td>
                            <td><h3><span id="stars-difficulty" class="starrr"
                                          data-rating="<%= challenge.difficulty %>"></span></h3></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <% challenge.responses.forEach(function(response) { %>
            <div class="container">
                <a href="#"><%= response.username %></a>

                <p><%= response.content %></p>

                <div id="stars-rating" class="starrr" data-rating="<%= response.rating %>"></div>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="container bs-component">
        <!-- Button trigger response modal -->
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="btn btn-sky btn-lg pull-right" data-toggle="modal"
                        data-target="#responseModal">
                    Take this Challenge
                </button>
            </div>
        </div>
        <% include challenge-proof-form %>
    </div>
    <div class="container">
        <table class="table table-striped">
            <% challenge.comments.forEach(function(comment) { %>
            <tr>
                <td>
                    <a href="#"><%= comment.username %></a>
                </td>
                <td>
                    <p><%= comment.content %></p>
                </td>
            </tr>
            <% }); %>
            <tr>
                <form>
                    <td><label>my_username</label></td>
                    <td><textarea style="width: 100%" rows="1" placeholder="Enter your comment here"></textarea></td>
                </form>
            </tr>
        </table>
    </div>
</div>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="/js/app-challenge.js"></script>
<script type="text/javascript" src="/js/ratings.js"></script>

</body>
</html>