<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link type="text/css" rel="stylesheet" href="/css/challenge.css">
</head>

<body ng-app="app-challenge">
<% include partials/header %>
<div ng-init="rating = <%= challenge.rating %>; challengeID = <%= challenge.id %>; proofRating = 0" id="rating"
     ng-controller="RatingController as ratingController">
    <div class="container" style="margin: 5em auto">
        <h1><%= challenge.name %></h1>

        <div class="col-md-8 col-sm-12">
            <hr>
            <h4>
                <%= challenge.description %>
            </h4>
            <hr>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <table class="table">
                        <tr>
                            <td><h3><b>Creator:</b></h3></td>
                            <td><h3><a href="/profile/<%= challenge.creatorID %>"><%= challenge.creator %></a></h3></td>
                        </tr>
                        <tr>
                            <td><h3><b>Rating:</b></h3></td>
                            <td><h3><span id="stars-rating" class="starrr"
                                          data-rating="<%= Math.floor(challenge.rating) %>"></span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td><h3><b>Difficulty:</b></h3></td>
                            <td><h3><span id="stars-difficulty" class="starrr"
                                          data-rating="<%= challenge.difficulty %>"></span></h3></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <% for (var i = 0; i < challenge.responses.length; i++) { %>
            <% if (challenge.type == "photo") { %>
            <div class="container">
                <a href="../profile/<%= challenge.responses[i].username %>"><%= challenge.responses[i].username %></a>
                <input style="display: inline-block" type="hidden" id="proofID<%= i %>" value="<%= challenge.responses[i].proofid %>"/>

                <img class="img-responsive" style="margin-left: 10em; display: inline-block" width="125em" height="125em" src="<%= challenge.responses[i].content %>"/>

                <div data-id="<%= i %>" class="starrr stars-rating-proof"
                     data-rating="<%= challenge.responses[i].rating %>"></div>
            </div>
            <% } else { %>
            <div class="container">
                <a href="../profile/<%= challenge.responses[i].username %>"><%= challenge.responses[i].username %></a>
                <input type="hidden" id="proofID<%= i %>" value="<%= challenge.responses[i].proofid %>">

                <p><%= challenge.responses[i].content %></p>
                <a href="../challenge-proof/<%= challenge.responses[i].proofid %>" class="btn btn-sky btn-lg ">View Proof</a>

                <div data-id="<%= i %>" class="starrr stars-rating-proof"
                     data-rating="<%= challenge.responses[i].rating %>"></div>
            </div>
            <% }
            } %>
        </div>
    </div>
    <div class="container bs-component">
        <!-- Button trigger response modal -->
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="btn btn-sky btn-lg pull-right" data-toggle="modal"
                        data-target="#responseModal">
                    Take this Challenge
                </button>
            </div>
        </div>
        <% include challenge-proof-form %>
    </div>

    <div ng-controller="CommentController as commentCtrl" class="" style="margin-top: 1em">
        <textarea style="resize: none;width: 50%; margin-left: 28.3em; height: 4em; display: table-cell;" type="text"
                  id="userComment"
                  ng-model="content"
                  class="form-control input-sm chat-input" placeholder="Write your message here..."></textarea>

        <div style="vertical-align: middle; margin-bottom: 2.5em; width: 10%" class="btn btn-primary btn-lg"
             ng-click="addComment('<%= globals.username %>', <%= challenge.id %>)">
            <span class="glyphicon glyphicon-comment"></span> Add Comment
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>

                    <h3 class="panel-title">
                        Recent Comments</h3>
                <span class="label label-info">
                   <%= challenge.comments.length %></span>
                </div>
                <div class="panel-body">
                    <ul id="comments" class="list-group">
                        <% challenge.comments.reverse(); challenge.comments.forEach(function(comment) { %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle img-responsive" alt=""/></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>

                                        <div style="color: #ffffff; font-size: small" class="mic-info">
                                            By: <a href="/profile/<%= comment.username %>">
                                                <%= comment.username %>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="font-size: x-large" class="comment-text">
                                        <%= comment.content %>
                                    </div>
                                    <!--div class="action">
                                        <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-success btn-xs" title="Approved">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div-->
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                    <!--a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span
                                class="glyphicon glyphicon-refresh"></span> More</a-->
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="/js/app-challenge.js"></script>
<script type="text/javascript" src="/js/ratings.js"></script>

</body>
</html>