<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--TODO LOCAL FONT -->
</head>

<body ng-app="search-app">
<% include partials/header %>
<section>
    <div class="container vertical-offset-100">

        <% challenges.forEach(function (value) { %>
        <div class="row panel">
            <div class="col-md-4 bg_blur ">
                <a href="/challenge/<%= value.challengeid %>" class="follow_btn hidden-xs">Accept</a>
            </div>
            <div class="col-md-8  col-xs-12">
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg"
                     class="img-thumbnail picture hidden-xs"/>
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg"
                     class="img-thumbnail visible-xs picture_mob"/>

                <div class="header">
                    <h1>
                        <%= value.name %>
                    </h1>
                    <h4>
                        <%= value.username %>
                    </h4>
                            <span>
                                <%= value.content %>
                            </span>
                </div>
            </div>
        </div>

        <div class="row nav">
            <div class="col-md-4"></div>
            <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i>
                    <%= value.ncomments %>
                </div>
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
                <div class="col-md-4 col-xs-4 well">
                    <% for (var i = 0; i < value.difficulty;i++) { %>
                    <span class="fa fa-star"></span>
                    <% } %>

                    <% for (var i = 0; i < (5 - value.difficulty);i++) { %>
                    <span class="fa fa-star-o"></span>
                    <% } %>
                </div>


            </div>
        </div>
        <% }); %>

    </div>
</section>
<% include partials/footer %>
<% include partials/scripts %>
<script type="text/javascript" src="/js/util.js"></script>
</body>
</html>